.active-link{
  background-color: red;
}
.app-bgcolor{
  background: #fcbc02;
}
.app-color{
  color :#fcbc02;
}
.CircularProgressbar-path {
stroke-width: 10 !important;
}
.CircularProgressbar-trail {
stroke-width: 10 !important;
}
.img-box{
  height: 220px;
}
.poster-img{
  width: 100%;
}
.bottom-txt {
  padding-top:74px 
}
.link{
  margin: 5px 0;
}
.icon-txt,svg {
  color: #757575;
}
.icon-txt{
  position: absolute;
  bottom: 8px;
  font-size: 11px;
}
.active-link svg,.active-link .icon-txt{
color:#fcbc02;

}
@media (max-width:400px)   {
  .bottom-txt {
    padding-top:5px 
  }
}